body {

    font-family: monospace;

}

ul {

    font-family: helvética;

}

li {

    list-style: circle;

}

.list {

    list-style: square;

}

#msg {

    font-family: monospace;

}

.light-theme {
    --bg: (var(--green)) --fontcolor:(var(--black)) color: #000000;
    background: #00FF00;

}

:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}